makeFiles/chyaml
makeFiles/makefile.env
.DS_Store
spring-music-1/build
secretScripts
allmyrecords.csv
soundtracks.csv
clusterYamls/*.yaml
makeFiles/vmclass.txt
makeFiles/logs.txt
configYamls/tmc-registration.yaml
postgres/postgres-for-kubernetes-v2.2.0
postgres/postgres-for-kubernetes-v2.1.0
postgres/postgres-for-kubernetes-v2.3.0
rabbitmq/config.json
buildservice-install/*.sh
postgres/02_pgSecret.sh
rabbitmq/rmqYamls/03_rabbitMQSecret.sh
.env
__pycache__
dbApp
gitOps/01_gitLabAgentInstall.sh
pythonStuff/faApp/*.sh
