makeFiles/chyaml
makeFiles/makefile.env
.DS_Store
spring-music-1/build
secretScripts
allmyrecords.csv
soundtracks.csv
clusterYamls/*.yaml
makeFiles/vmclass.txt
configYamls/tmc-registration.yaml
postgres/postgres-for-kubernetes-v2.2.0
postgres/postgres-for-kubernetes-v2.1.0
rabbitmq/config.json
makeFiles/__pycache__/
rabbitmq/__pycache__/
buildservice-install/

